
$divider-color:#fff9ed;
$wrapper-height: 55vw;
$page-rotation:58deg;


#wrapper{
    background-color: #222;
    position: relative;
    width:100%;
    min-height:$wrapper-height;
    overflow: hidden;
  }
  
  .name-container{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index:2;
    color:  $divider-color;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
  }
  
  .name-container h1 {
    //font-family: broadacre-light-0, sans-serif;
    font-family: arponasans, sans-serif;
    //font-family: broadacre-hairline-2, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-weight: 100;
    font-style: normal;
    line-height: 1;
    font-size: 4.5em;
    letter-spacing: .2rem;
    display:flex;
    flex-direction: column;
  }
  
  .name-container .bold{
    font-weight: 400  ;
  }
  
  .layer{
    position: absolute;
    width:100vw;
    min-height: $wrapper-height;
    overflow: hidden;
  }
   
  .layer .content-wrap{
    position: absolute;
    width:100vw;
    min-height: $wrapper-height;
    z-index: index 2;;
  }
  
  .layer .content-body{
    width:25%;
    padding: 0em 5em;
    position:absolute;
    user-select: none;
    top:50%;
    text-align: center;
    transform:translateY(-50%);
    color:#fff9ed;
    z-index: 5;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform:translateY(-50%) scale(1.2)}
  }
  
  .layer img{
    position: absolute;
    width:100%;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
  }
  
  .layer h1{
    font-size:2em;
  }
  
  .layer h2{
    font-family: broadacre-light-0, sans-serif;
    //font-family: broadacre-hairline-1, sans-serif;   
    font-weight: 200 ;
    font-size:1.5em;
  }
  
  .bottom{
    z-index: 1;
  }
  
  .bottom .content-body{
    right:0%;
    top: 85%;
  }
  
  .bottom h1{
    color:yellow;
    z-index: 2;
  }
  
  .top{
    z-index: 2;
    transform: skew(-$page-rotation);
    margin-left : -1000px;
    width:calc(50vw + 1000px); //here is what i need to fix
  }

  #top:hover{
    cursor:pointer;
    //todo
  }
  
  #bottom:hover{
    cursor:pointer;
    //todo
  }
  
  #top:hover  #bottom {
    cursor:pointer;
    display:none;
  }
  
  .top .content-body{
    top : 15%;
    left: 0%;
  }
  
  .skewed .handle{
    top:50%;
    transform:rotate($page-rotation) translateY(-50%);
    height: 250%;
    transform-origin:top;
  }
  
  .handle{
    position: absolute;
    height: 100%;
    display:block;
    background-color:$divider-color;
    width: 1px;
    top: 0;
    left :50%;
    z-index: 2;
  }
  
  //todo: figure out the 1000px thing
  .skewed .top .content-wrap{
    transform: skew($page-rotation);
    margin-left:1000px;
  }
  
  
  // if 768px -> add
  @media(max-width:768px){
    body{
      font-size:60%;
    }
  }
  